.input_field{ 
  display: block;
}
.label{
  display: inline-block;
  font-size: 14px;
  margin: 5px;
  font-weight: 600;
}
.tabs {
	list-style:none;
    display:inline;
    padding:5px 10px;
	display:inline-block;
    background:#666;
    color:#fff;
	text-decoration:none;
	cursor: pointer;
}

.active {
	list-style:none;
    display:inline;
    padding:5px 10px;
	display:inline-block;
    background: #E28216;
    color:#fff;
	text-decoration:none;
	cursor: pointer;
}
#tab2, #tab3, #tab4{
    display: none;
}
.output {
    background: #fff;
    display: inline-block;
    padding: 20px;
    border: 1px solid #CABEBE;
    border-radius: 5px;  
}
.added{
    font-weight: bold;
}
.outputerror{
    background: #fff;
    display: inline-block;
    padding: 20px;
    border: 2px solid red;
    border-radius: 5px;   
}
